body {
    background-color:#1F2937;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    padding-top: 20px;
}